body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f9;
	text-align: center;
}

.container {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#taskInput {
	margin-top: 20px;
	padding: 10px;
	width: 60%;
	font-size: 18px;
}

#addTaskButton {
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
}

h1,
h3 {
	font-size: 24px;
	color: #333;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin: 10px 0;
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.completed {
	text-decoration: line-through;
	color: gray;
}

.deleteBtn,
.completedBtn {
	cursor: pointer;
	font-weight: bold;
}

.deleteBtn {
	color: red;
}

.completedBtn {
	color: green;
}

#archiveList {
	margin-top: 30px;
	background-color: #e9e9e9;
	padding: 20px;
	border-radius: 5px;
}

#archiveList ul {
	text-align: left;
}